@model ECommerceShop.Req.HomeView
@{
    ViewData["Title"] = "Organic Shop";
    List<Product> allProducts = ViewBag.AllProducts;
}

<div class="slider-area">

    <!-- Main Slider -->
    <div class="swiper-container main-slider-2 swiper-arrow with-bg_white">
        <div class="swiper-wrapper">
            <div class="swiper-slide animation-style-01">
                <a href="sanpham">
                    <div class="slide-inner bg-height" data-bg-image="assets/images/slider/bg/banner-1.png">
                    </div>
                </a>
            </div>
            <div class="swiper-slide animation-style-01">
                <a href="sanpham">
                    <div class="slide-inner bg-height" data-bg-image="assets/images/slider/bg/banner-2.png">
                    </div>
                </a>
            </div>
            <div class="swiper-slide animation-style-01">
                <a href="sanpham">
                    <div class="slide-inner bg-height" data-bg-image="assets/images/slider/bg/banner-3.png">
                    </div>
                </a>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination with-bg d-md-none"></div>

        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

</div>
<!-- Slider Area End Here -->
<!-- Begin Product Area -->
<div class="product-area section-space-top-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav product-tab-nav pb-10" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="active" id="all-items-tab" data-bs-toggle="tab" href="#all-items" role="tab" aria-controls="all-items" aria-selected="true">
                            <div class="product-tab-icon">
                                <img src="assets/images/product/icon/1.png" alt="Product Icon">
                            </div>
                            All Items
                        </a>
                    </li>
                    @foreach (var item in Model.Products)
                    {
                        <li class="nav-item" role="presentation">
                            <a id="fresh-fruits-tab" data-bs-toggle="tab" href="#@item.category.Alias" role="tab" aria-controls="fresh-fruits" aria-selected="false">
                                <div class="product-tab-icon">
                                    <img src="assets/images/product/icon/2.png" alt="Product Icon">
                                </div>
                               @item.category.CatName
                            </a>
                        </li>
                    }
                    
                   
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="all-items" role="tabpanel" aria-labelledby="all-items-tab">
                        
                        @await Html.PartialAsync("_ListProductPartialView", allProducts)
                    </div>
                    @foreach (var item in Model.Products)
                    {
                        
                    <div class="tab-pane fade" id="@item.category.Alias" role="tabpanel" aria-labelledby="fresh-fruits-tab">
                        <div class="product-item-wrap row">
                                @await Html.PartialAsync("_ListProductPartialView", item.lsProducts)
                        </div>
                    </div>
                    }
                   
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Area End Here -->

<!-- Product Area End Here -->
<!-- Begin Banner Area -->
<div class="banner-area banner-style-2 section-space-y-axis-100" style="background-size: inherit;" data-bg-image="assets/images/banner/2-1-1920x523.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="~/assets/images/banner/inner-img/2-1.png" style="float:left" alt="" />
            </div>
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <div class="banner-content">
                    <div class="section-title">
                        <h2 class="title font-size-60 mb-7 text-white">Sale 20%</h2>
                    </div>
                   
                    <div class="countdown-wrap with-dark-border">
                        <div class="countdown item-4" data-countdown="2024/01/20" data-format="short">
                            <div class="countdown__item me-3">
                                <span class="countdown__time daysLeft"></span>
                                <span class="countdown__text daysText"></span>
                            </div>
                            <div class="countdown__item me-3">
                                <span class="countdown__time hoursLeft"></span>
                                <span class="countdown__text hoursText"></span>
                            </div>
                            <div class="countdown__item me-3">
                                <span class="countdown__time minsLeft"></span>
                                <span class="countdown__text minsText"></span>
                            </div>
                            <div class="countdown__item">
                                <span class="countdown__time secsLeft"></span>
                                <span class="countdown__text secsText"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
